@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-image: url("bg.jpg") ;
  background-size: auto;
  background-repeat: none;
  
}

.container{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.container h1,p,h3{
  text-align: center;
  color: #fdfdfd;
}

.container p{
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.container textarea{
  border-radius: 10px;
  padding: 5px;
  font-size: 1rem;
  color: #fdfdfd;
}